*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
main{
    background-color: rgb(11, 10, 10);
    height: 100vh;
    display: grid;
    gap:10px;
    padding: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
}
aside{
    padding: 30px;
    background-image: url(https://images.unsplash.com/photo-1768280511074-3b3effe7a139?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw0fHx8ZW58MHx8fHx8);
    background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   object-fit: cover;
    grid-row-start: 1;
    grid-row-end: 3;
   

}
#div1{
   background-image: url(https://images.unsplash.com/photo-1714332818313-627551693dbc?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzfHx8ZW58MHx8fHx8);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   object-fit: cover;
  
}
div{
   background-image: url(https://images.unsplash.com/photo-1768311172651-9f0a3a1d4a22?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw1fHx8ZW58MHx8fHx8);
   background-size: cover;
   background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
 
}
section{
    background-image: url(https://images.unsplash.com/photo-1768269378478-2c48665c0e51?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw5fHx8ZW58MHx8fHx8);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    grid-row-start: 2;
    grid-row-end: 3;
   
    
}
footer{
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1765498069315-86fbdc6c6d1c?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxNHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-repeat: no-repeat;
     background-position: center;
    grid-column-start: 1;
    grid-column-end: 3;
    object-fit: cover;
}
figure{
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1766498019113-133d6eb646b7?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxOHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    grid-row-start: 2;
    grid-row-end: 4;
}
