*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    border: 2px solid black;
    flex-wrap: wrap;
    display: flex;
    /* justify-content: center; */
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
.box{
    background-color:rgb(222, 220, 234);
    min-height: 450px;
    width: 320px;
    padding-top: 40px;
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
    box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
    gap: 30px;

}
.box img{
    height: 190px;
    width: 260px;
    /* display: block; */
    /* padding: 0 auto;
    margin:0 auto; */
    /* display: flex; */
    /* align-items: center; */
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btn{
    background-color:#ACC8E5;
    padding: 15px 24px;
    /* margin-top: 20px auto; */
    /* display: block; */
    /* width: fit-content;  */
    text-decoration: none;
    color: black;
    font-size: 15px;
    border-radius: 20px;
    font-family:sans-serif;
}
.btn:hover{
    color:black;
    background-color:#748cab;
}
@media screen and (max-width: 768px){
    .container{
        justify-content: center;
    }
    .box{
        width: 45%;
    }
}
@media screen and (max-width: 480px){
    .container{
        align-items: flex-start;
        padding: 20px 0;
    }
    .box{
        width: 90%;
    }
}
