*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}
body{
     background: #f7f8ff;
     color: #333;
}
.navbar{
    display: flex;
    justify-content:end;
    align-items: center;
    gap: 56px;
    padding: 10px;
    background-color: white;
    position:sticky;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.557);
}
ul{
    list-style: none;
    display: flex;
    gap:56px;
    margin-right: 40px;
    font-weight: 600;
}
ul li a{
    text-decoration: none;
    color: black;
}
.logo{
    margin: auto;
    font-size: 30px;
    margin-left: 50px;
    color:#4a4aef;
    font-weight: bolder;
    
}
.hero{
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #f1f1f4;
    line-height: 50px;
}
h1{
    font-size: 40px;
}
#name{
    color: #4a4aef;
}
p{
    font-size: 18px;
}
.btn{
    text-decoration: none;
    padding: 14px 28px;
    border-radius: 30px;
    border: none;
    background-color: #4a4aef;
    color:white;
    font-weight: bold;
}
.section{
    width: 80%;
    margin: 50px auto;
    background-color: white;
    padding: 80px;
    border-radius: 12;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    border-radius: 15px;
}
section h2{
    text-align: center;
    margin-bottom: 25px;
    color: #4a4aef;
   
}
.about-me p{
    margin-left: 24px;
    text-align: center;
    font-size: 15px;
    padding: 24px;
    background-color: #efeff5;
    border-radius: 15px;
}
.skill-box{
    display: flex;
    justify-content: center;
}
.skill-box span{
    margin-left: 24px;
    text-align: center;
    font-size: 15px;
    padding: 12px;
    background-color: #efeff5;
    border-radius: 15px;
  
}
.project1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    margin-left:75px;
}
.project1 .project2{
    background-color:#efeff5;
    padding: 20px;
    border-radius: 15px;
}
.contact{
   width: 80%;
    margin: 50px auto;
    background-color: white;
    padding: 80px;
    border-radius: 12;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    border-radius: 15px;
}
.contact p{
    text-align: center;
}
